[Unit]
Description=Factory Reset.
Before=shutdown.target reboot.target halt.target umount.target

[Service]
Type=oneshot
TimeoutStopSec=infinity
ExecStop=/usr/bin/manjaro-factory-reset-delete
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
